body {background-color: #454140}

#main_title {
    background-color: #7a3b2e;
    border: black;
    border-style: double
    padding: 40px;
    text-align: center;
    font-family: monospace;
    font-size: 60pt;
    font-style: inherit;
    color: #a79e84
}

#social_media {
    font-size: 20pt;
    font-family: monospace
}

h3 {
    background-color: #7a3b2e;
    text-align: center;
    font-family: monospace;
    font-size: 30pt;
    color: #a79e84
}

p {
    color: #a79e84
}

a {
    color: #bd5734
}

*.light_text {
    color: #a79e84
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 3px #454140;
    padding: 10px;
}